<h2>Update Inquiry</h2>

<form action="/inquiry/{{inquiryToUpdate.id}}/update" method="POST">

<label> When:
    <input type="date" name="when" value="{{inquiryToUpdate.when}}">
</label>

<label> Where:
    <input type="text" name="where" value="{{inquiryToUpdate.where}}">
</label>

<label> Description:
    <input type="text" name="description" value="{{inquiryToUpdate.description}}">
</label>



<button type='submit'>Update Inquiry</button>