<br>

<h1>Make an Inquiry</h1>

<div id="inquiry-form">

<form action="/create-inquiry" method="POST">

  <label>
    Inquiry by:
    <input type="text" name="clientName" value="{{clientInSession.firstName}} {{clientInSession.lastName}}" readonly/>
  </label>

  <label>
    I need a:
    <select name="category">
      <option value="">Choose one...</option>
      {{#each jobsFromDB}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </label>

  <label>
    When:
    <input type="date" name="when" />
  </label>

  <label>
    Where:
    <input type="text" name="where" />
  </label>

  {{!-- <label>
    Describe your event:
  <input type="text" name="description" />
</label> --}}

  <label for="description">Describe your event:
    <textarea name="description" id="description-input" cols="30" rows="4">
    </textarea>
  </label>

<button type="submit">Send</button>

</form>

</div>