<div id="landing">

  <div id="caption">
    <h2>"Connecting clients to professionals and freelancers to work"</h2>
  </div>

  <div id="options">

      <div id="client-account">

        {{#if clientInSession}}
          <a href="/my-profile">My Profile</a>
          <a href="/my-inquiries">My Inquiries</a>

        {{else}}
          <h3>Are you a client?</h3>
          
          <a href="/client-signup">Signup</a>
          <a href="/client-login">Login</a>
          
        {{/if}}

      </div>

      <div id="pro-account">

        {{#if proInSession}}
          <a href="/my-pro-file">My Profile</a>
          <a href="/dashboard">Dashboard</a>

        {{else}}
          <h3>Or are you a Pro?</h3>
          
            <a href="/pro-signup">Signup</a>
            <a href="/pro-login">Login</a>
          
        {{/if}}

      </div>
  </div>
</div>