<div class="auth-forms"></div>
<h2>Client Login</h2>

<a href="/">Home</a>

<br><br>
<form action="/client-login" method="POST">

    <label> Email:
        <input type="email" name="email">
    </label>
    <label> Password:
        <input type="password" name="userPassword">
    </label>

    <button type="submit">Login</button>

    <br />
    {{#if errorMessage}}
        {{errorMessage}}
    {{/if}}
</form>
</div>